PORT=3000
NODE_ENV=development

# PostgreSQL
DATABASE_URL=postgres://user:pass@localhost:5432/macahumisa

# JWT (mínimo 32 caracteres en producción)
JWT_SECRET=+sG41ey2zkNUEDfYA0ryN8gv0Goni2GtB+jviCiL9fwg/sIR9afK3nO/lqjiNHQSeAAbNWWYLIaEoTHPkHyD5g==


